@import "./partials/_global.scss";

.destination {
  background-image: url("../assets/images/hawaii.jpg");
  background-position: center;
  width: 100vw;
  height: 50vw;
  @include small-desktop {
    height: 70vw;
  }

  &__background {
    &--iceland {
      background-image: url("../assets/images/iceland.jpg");
    }
    &--greece {
      background-image: url("../assets/images/greece.jpg");
    }
  }

  &__title {
    color: #fff;
    font-size: 5rem;
    position: absolute;
    top: 7rem;
    left: 7rem;
  }

  &__schedule {
    display: flex;
    position: relative;
    top: 23rem;
    justify-content: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
    margin: 0rem 3rem;
    padding-bottom: 2rem;
    background-color: #fff;
    border-radius: 4px;
  }

  &__list {
    list-style-type: none;
    // padding: 0rem 1rem 2rem 1rem;
    margin: 1rem 1rem;
    padding-left: 0rem;
  }

  &__item {
    padding: 0.5rem 4rem;
    margin: 1.5rem 1rem;
    background-color: $background-color;
    font-weight: 400;
    font-family: $base-font;

    &--title {
      border-bottom: 3px solid #000;
      background-color: #fff;
      font-weight: 600;
      margin-top: 0rem;
      padding: 0%;
    }
  }
}
