body {
  max-width: 1280px;
}

h1,
h2,
h3 {
  color: #335576;
}

/* Navigation */
nav {
  display: flex;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.nav__logo {
  font-size: 2rem;
  width: 70%;
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 4rem;
  margin-bottom: 0.5rem;
}

.nav__list {
  width: 30%;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.nav__item {
  display: flex;
  padding: 0.5rem;
  font-size: 1.25rem;
}

.nav__item--active {
  border-bottom: 3px solid #db7a4e;
}

.nav__link {
  text-decoration: none;
  color: #000;
}
