@import "./partials/_global.scss";

/* Hero */

.hero__container {
  background-color: $background-color;
  width: 100vw;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 20rem 10rem 4rem;
}

.hero__title {
  font-size: 3rem;
  padding-left: 2rem;
}

.hero__description {
  font-size: 1.25rem;
  padding-left: 2rem;
  color: $primary-color;
}

.hero__button {
  background-color: #db7a4e;
  border-radius: 20px;
  border: 0;
  color: #fff;
  font-size: 1.25rem;
  font-family: $base-font;
  padding: 0.5rem;
  width: 10rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

.hero__image {
  width: 37rem;
  display: flex;
  padding-right: 10rem;
}

.hero__right {
  display: flex;
}

/* Recommendations */

.recommendations__title {
  font-size: 2.25rem;
  padding-left: 4rem;
}

.recommendations__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.recommendations__card {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 2rem;
  padding-bottom: 0;
  box-shadow: 5px 5px 2px #aaaaaa;
}

.recommendations__link {
  text-decoration: none;
}

.recommendations__image {
  width: 350px;
  height: 100%;
  padding-bottom: 0%;
  object-fit: cover;
}

.recommendations__card--title {
  position: absolute;
  bottom: 0.5rem;
  right: 2rem;
  color: #fff;
}

@media (max-width: 1280px) {
  .hero__image {
    padding-right: 2rem;
    width: 30rem;
  }
}
